# Copie ce fichier en .env et remplace les valeurs
DATABASE_URL="postgresql://postgres.xxxxx:YOUR_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.xxxxx:YOUR_PASSWORD@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
NEXT_PUBLIC_APP_NAME="Tantor Déc"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SESSION_SECRET="change-moi-en-production"
